body {
  background-color: rgb(137, 207, 240);
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 0; 
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
}

.kenyer {
  width: 50%;
  height: 50%;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 15px;
}

.kep1 {
  width: 80%;
  height: 80%;
}

footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}